*{
    margin: 0px;
    font-family: sans-serif;
    
}
.prymary-text{
    color:#FD6E0A;
}
.btn-primary{
    background: #FD6E0A;
    padding: 18px 35px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
.btn-primary:hover{
    font-size: 25px;
}
.header{
    background-color:  #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    
    background-repeat: no-repeat;
    background-position:bottom right,left;
}
nav{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    margin: 50px 200px;
    
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.nav-title{
    font-size: 45px;
    font-weight:800;
}
/* header banner */
.banner{
    display: flex;
    margin: 0px 0px 0px 200px;
    align-items: center;  
}
.banner-subtitle{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5PX;
}
.banner-title{
    font-weight: 700;
font-size: 85px;
color: #181818;
margin-bottom: 20PX;
}
.banner-description{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30PX;
}
.main-image{
    margin-right: 40px;
    height: px;
    width: 550px;
}
/* about section */

.main{
    max-width:1150px;
    margin: 0 auto;
    
}
.about{
    padding: 131px 155px;
    text-align: center;
    border-radius: 10px;
    margin-top: 130px;
    background-color:#FFF8F3

}
.section-tilte{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
    color: #181818
}
.section-description{
    font-weight: 400;
    font-size: 18px;
    color: #a59d9d;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
/* .about-info { } */
    
.info-title{
    font-weight: 400;
    font-size: 15px;
    color: #757575;
}
.info-name{
    font-weight: 700;
    font-size: 18px;
    color: #474747;
}
/* What i do section style */

.what-i-do{ 
    padding: 130px 0px;
    border-radius: 10px;
    /* margin-top: 130px; */
    background-color: white;
}
.what-i-do-titte{
    font-weight: 700;
font-size: 35px;
color: #181818;
margin-bottom: 30px;
text-align: center;
}
.what-i-do-title-description{
    font-weight: 400;
font-size: 18px;
color: #757575;
margin-bottom: 50px;
text-align: center;
line-height:30px;
}
.resume-content-description{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #757575;
}

.skills-container{
    display: flex;
    gap: 24px;
    
   
    
}
.skill{
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}
.skill:hover{
    font-size: 40px;
}
   .skill-name{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
   }
   .skill-info{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    text-align: left;
   }

   /* resume styles */
   .resume{
    padding-bottom: 50px;
   }
   .resume-container{
    display: flex;
    gap: 71px;
   }
   .resume-title{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #181818;
    margin-bottom: 113px;
   }
   .resume-section-title{
    font-weight: 700;
    font-size: 30px;
  
    color: #474747;
   }
   .resume-content{
    padding-bottom: 30px;
    border-bottom: 1px solid #D1D1D1;
    margin-top: 30px;
   }
   .resume-content-title{
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #474747;
   }
.resume-content-subtitle{
    font-weight: 600;
font-size: 20px;
line-height: 27px;
color: #757575;
margin-top: 10px;
}
.resume-btn{
    text-align: center;
    margin-top: 50px;

}